<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Our Platform!</title>
  <style>
    /* Define your CSS styles here */
  </style>
</head>
<body>
  <div>
    <h1>Welcome to Our Platform, <%= user.username %>!</h1>
    <p>Dear <%= user.firstName %>,</p>
    <p>We are thrilled to welcome you to our platform. Your account has been successfully created, and you are now part of our community!</p>
    <p>Here are a few things you can do to get started:</p>
    <ul>
      <li>Explore our features and services.</li>
      <li>Complete your profile to personalize your experience.</li>
      <li>Connect with other users and start engaging.</li>
    </ul>
    <p>If you have any questions or need assistance, feel free to reach out to us at support@example.com. We're here to help!</p>
    <p>Once again, welcome aboard!</p>
    <p>Best Regards,<br> The Team at Our Platform</p>
  </div>
</body>
</html>
